/* AddStatement.css */
.add-statement-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.add-statement-header {
    text-align: center;
    font-size: 22px;
    color: #2c3e50;
}

.category-section {
    margin-top: 20px;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.category-title {
    font-size: 18px;
    color: #34495e;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.input-group input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    flex: 1;
}

.remove-btn {
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover {
    background: #c0392b;
}

.add-btn,
.submit-btn {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.add-btn {
    background: #3498db;
    color: white;
}

.add-btn:hover {
    background: #2980b9;
}

.submit-btn {
    display: block;
    width: 100%;
    background: #2980b9;

    color: white;
}

.submit-btn:hover {
    background: #076db0;
}

@media (max-width:650px){
    .input-group{
        flex-direction: column;
    }
}