/* FileReaderComponent.css */
.file-upload-container {
    text-align: center;
    padding: 20px;
    background: #f8f9fa;
    width: 50%;
    font-family: Arial, sans-serif;
    margin:auto
}

h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 15px;
}

input[type="file"] {
    padding: 10px;
    border: 2px dashed #3498db;
    border-radius: 10px;
    background: #ecf0f1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input[type="file"]:hover {
    background: #d5eaf0;
}

input[type="file"]::file-selector-button {
    padding: 10px 15px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="file"]::file-selector-button:hover {
    background: #2c3e50;
}

@media (max-width: 625px) {
    input[type="file"] {
        width: 90%;
    }
}
